<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livros</title>
  </head>
  <body>
    <style>
      * {
        font-family: sans-serif;
      }
      body {
        background-color: #ccc;
        text-align: center;
      }

      input {
        display: block;
        padding: 0.5rem;
        outline: none;
        margin: 5px 0;
        width: 100%;
      }
      .table {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      table {
        border-collapse: collapse;
      }
      .cadastro {
        text-decoration: none;
        font-size: 1.5rem;
        border: 1px solid #198754;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background-color: #198754;
        color: white;
      }
      th,
      td {
        padding: 0.5rem;
      }
    </style>
    <div style="margin: 15px 0">
      <a class="cadastro" href="/">Cadastrar Livro</a>
    </div>
    <h1>Livros Cadastrados</h1>

    <div class="table">
      <table border="1">
        <tr>
          <th>ISBN</th>
          <th>Título</th>
          <th>Ano editora</th>
          <th>Autores</th>
        </tr>

        <% livros.forEach(livro =>{ %>
        <tr>
          <td><%=livro.isbn %></td>
          <td><%=livro.titulo%></td>
          <td><%=livro.ano_editora%></td>
          <td>
            <%=livro.autores%>
            <a href="/editar/<%=livro.isbn%>">
              <button style="background-color: transparent; border: none">
                <i
                  style="
                    color: rgb(0, 94, 255);
                    cursor: pointer;
                    font-size: 1rem;
                  "
                  class="fa-regular fa-pen-to-square"
                ></i>
              </button>
            </a>
            <a href="/deletar/<%=livro.isbn%>">
              <button style="background-color: transparent; border: none">
                <i
                  id="<%=livro.isbn%>"
                  style="
                    color: rgb(0, 94, 255);
                    cursor: pointer;
                    font-size: 1rem;
                  "
                  class="fa-solid fa-trash-can"
                ></i></button
            ></a>
          </td>
        </tr>
        <% }) %>
      </table>
    </div>

    <script></script>

    <script
      src="https://kit.fontawesome.com/398f4eaf2d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
